.main_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(237, 232, 232);
}

.header {
  flex: 2;
}

.tv_show_details {
  flex: 4;
}

.recommended_tv_shows {
  flex: 2;
}
